*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{
  font-size: $font_big;
}

.text-center{
  text-align: center;
}

.container-small{
  margin: auto;
  width: $small_container;
  margin-top: $section_margin_top;

  p {
    margin-top: $text_margin_top;
    line-height: 1.5;
  }
}

.navbar ul li{
  display: inline;
  padding: 12px;
  font-size: $font_small;

  &:hover{
    cursor: pointer;
  }
}
