@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero{
  background-image: url("../img/background.png");
  height: 700px;

  .navbar{
    @include center;
    background-color: rgba(255, 255, 255, 0.7);

    li:first-of-type{
      font-weight: bold;
      cursor: auto;
    }
  }

  .hero-content{
    color: $white_color;
    margin-top: 400px;
    padding-left: 100px;
  }
}
